.App {
  
  &-header {
      background: rgb(34, 132, 195);
      background: linear-gradient(90deg, rgba(34, 132, 195, 1) 0%, rgba(45, 253, 195, 1) 100%);
      min-height: 100vh;
      font-size: calc(10px + 1vmin);
    }
}




