.user-container{
    width: 250px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    .user-content{
        .user-child{
            margin-bottom: 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .user-info{
                display: flex;
                align-items: center;
                gap: 0 10px;
                .user-img{
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                }
                .user-name{
                    color: rgb(26 174 245);
                    font-weight: 600;
                }
            }
            .user-view{
                padding: 7px 14px;
                border-radius: 15px;
                background-color: rgb(21, 199, 169);
                font-size: inherit;
            }
        }
        .user-view-all{
            padding: 7px 14px;
            border-radius: 15px;
            background-color: rgb(21, 199, 169);
            font-size: inherit;
    }
    }
    .user-detail{
        display: flex;
        flex-direction: column;
        align-items: center;
        .user-img {
            border-radius: 50%;
        }
        .user-des{
            margin-bottom: 0;
            color: rgb(26 174 245);
            font-weight: 600;
        }
        
    }
        .btn-back {
            margin-top: 20px;
            width: 40px;
            height: 40px;
            font-size: 28px;
            color: rgb(21, 199, 169);
                background-color: transparent;
            
            &:hover{
                background-color: rgb(21, 199, 169);
                color: #fff;
            }
        }

}